<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Profile</title>
</head>
<body>

<h1>Edit Profile</h1>

<form th:action="@{/auth/editProfile}" method="post" th:object="${user}">

    <input type="hidden" th:field="*{id}" />

    <label>Username:</label>
    <input type="text" th:field="*{username}" />

    <br/>

    <label>Email:</label>
    <input type="text" th:field="*{email}" />

    <br/>

    <label>Password:</label>
    <input type="text" th:field="*{password}" />

    <br>

    <label>HourlyRate:</label>
    <input type="number" th:field="*{hourlyRate}" />
    <br>

    <label>Role:</label>
    <input type="text" th:field="*{role}" />

    <br/>

    <button type="submit">Save</button>
</form>




<a href="/auth/show_users">Back</a>

</body>
</html>