<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forgot Password</title>
</head>
<body>

<h1>Forgot Password</h1>

<form method="post" action="/auth/forgot-password">

    <label>Email:</label>
    <input type="text" name="email" />

    <br/>

    <label>New Password:</label>
    <input type="password" name="newPassword" />

    <br/>

    <button type="submit">Reset Password</button>

</form>

<p th:if="${EmailNotFound}">
    Email not found
</p>

<a href="/auth/login">Back to login</a>

</body>
</html>