<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Users</title>
    <meta charset="UTF-8">
</head>

<body>

<h1>All Users</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Hourly Rate</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user : ${getUsers}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.hourlyRate}"></td>
        <td th:text="${user.role}"></td>

        <td>
            <a th:href="@{/auth/edit/profile/{id}(id=${user.id})}">
                Edit
            </a>

            <form th:action="@{/auth/{id}/delete(id=${user.id})}"
                  method="post"
                  style="display:inline;"
                  onsubmit="return confirm('You are about to delete a user \n\n Do you want to continue?')">

                <button type="submit">Delete</button>
            </form>
        </td>



    </tbody>
</table>
<a href="/projects" class="btn btn-secondary">back to projects</a>
</body>
</html>