<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>
</head>
<body>

<h1>Edit Task</h1>

<!-- Fejlbesked -->
<div th:if="${errorMessage}">
    <span th:text="${errorMessage}"></span>
</div>

<form th:action="@{|/projects/${projectId}/subprojects/${subprojectId}/tasks/${taskId}/edit|}"
      th:object="${task}"
      method="post">

    <label for="name">Name</label>
    <input id="name" type="text" th:field="*{name}">

    <label for="description">Description</label>
    <textarea id="description" th:field="*{description}"></textarea>

    <label for="estimatedHours">Estimated hours</label>
    <input id="estimatedHours" type="number" th:field="*{estimatedHours}">

    <button type="submit">Save</button>
</form>

<a th:href="@{|/projects/${projectId}/subprojects/${subprojectId}/tasks|}">Cancel</a>

<form th:action="@{|/projects/${projectId}/subprojects/${subprojectId}/tasks/${taskId}/delete|}" method="post">
    <button type="submit">Delete</button>
</form>
</body>
</html>
