<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<body>

<nav th:fragment="navbar" class="navbar">
    <div class="nav-left">
        <h3 th:href="@{/projects}" class="logo">Verdandi</h3>
    </div>

    <div class="nav-links">
        <a th:href="@{/projects}">Back to projects</a>
    </div>


    <div class="nav-links" th:if="${session.user != null and session.user.isAdmin()}">
        <a th:href="@{/auth/show_users}">See Users</a>
    </div>

    <a th:if="${session.user == null}" th:href="@{/auth/login}" class="login-btn">Login</a>

    <span th:if="${session.user != null}">
            <strong th:text="${session.user.username}"></strong>
            <span th:text="'(' + ${session.user.role.roleName} + ')'"></span>
        </span>

    <a th:if="${session.user != null}" th:href="@{/auth/logout}" class="login-btn">Log ud</a>
    </div>
</nav>

</body>
</html>